<div class="container">
  <main>
    <div class="row">
      <div class="col-6 justify-content-center mx-auto">
        <img src="./../../../../assets/404-not-found.png" alt="404 not found" class="img-fluid mx-auto d-block w-25">
      </div>
    </div>
    <div class="row">
      <div class="col-12 justify-content-center">
        <h2 class="text-center my-4">Ops, Página não encontrada</h2>
        <h6 class="text-center my-4">404 Not Found</h6>
        <button mat-raised-button color="primary" class="position-relative start-50 translate-middle my-4" routerLink="/home">Ir para início</button>
      </div>
    </div>
  </main>
</div>
