<div class="container">
  <h2 class="text-center">Listagem de moedas</h2>
  <p class="text-center">Aqui você pode ver as cotação de todas as moedas no mundo</p>
  <main>
    <div class="row">
      <div class="col mb-4">

        <table mat-table [dataSource]="listagem" class="mat-elevation-z8">

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por sigla"> Sigla </th>
            <td mat-cell *matCellDef="let moeda"> {{moeda.code}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por descrição"> Descrição </th>
            <td mat-cell *matCellDef="let moeda"> {{moeda.description}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Selecione a página de Moedas"
        ></mat-paginator>

      </div>
    </div>
  </main>
</div>
