<div class="container">
  <h2 class="text-center">Converter Moedas</h2>
  <p class="text-center">Selecione a moeda base e a moeda destino</p>
  <main>
    <form #frm="ngForm" (ngSubmit)="converter(frm)">
      <div class="row">
        <div class="col-12" *ngIf="erro">
          <div class="alert alert-danger text-center" role="alert">
            Favor adicionar as moedas que deseja realizar a conversão
          </div>
        </div>

        <div class="col-12 col-sm-4 mb-4 mx-auto">

          <mat-form-field class="w-100">
            <mat-label>Moeda Base</mat-label>
            <mat-select name="from" id="from" [(ngModel)]="from">
              <mat-option *ngFor="let moeda of listagem" value="{{ moeda.code }}">
                {{ moeda.code }} | {{ moeda.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="col-12 col-sm-4 mb-4 mx-auto">
          <mat-form-field class="w-100">
            <mat-label>Moeda Destino</mat-label>
            <mat-select name="to" id="to" [(ngModel)]="to">
              <mat-option
                *ngFor="let moeda of listagem"
                value="{{ moeda.code }}"
              >
                {{ moeda.code }} | {{ moeda.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-4 mb-4 mx-auto">
          <mat-form-field class="w-100">
            <mat-label>Valor a ser convertido</mat-label>
            <input
              matInput
              type="number"
              name="amount"
              id="amount"
              [(ngModel)]="amount"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">

          <button
            type="submit"
            mat-raised-button
            color="primary"
            class="position-relative start-50 translate-middle my-2"
            >
            Converter
          </button>
        </div>
      </div>
    </form>

    <div class="row align-items-center" *ngIf="moedaConvertida.from">
      <div class="col-12 col-sm-4 text-center">
        <p class="fs-1">
          <span class="fw-bold">{{ moedaConvertida.amount }}</span> {{ moedaConvertida.from }}
        </p>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <p class="fs-3">
          <span class="fw-bold">x</span>{{ moedaConvertida.rate }}
        </p>
      </div>
      <div class="col-12 col-sm-4 text-center">
        <p class="fs-1">
          <span class="fw-bold">{{ moedaConvertida.result }}</span> {{ moedaConvertida.to }}
        </p>
      </div>
    </div>
  </main>
</div>
